{
    box-sizing: border-box
}
/* element selector */


/* ref colorhunt.co */
body {
    background-color:  #8e7ab5;
}

/* mobile/hp */

/* css tablet */
@media screen and (min-width:600px) {
    body {
        background-color: yellow;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    .col-sm-12 {
        width: 100%;
        float: left;
    }
    
}

/* CSS Dekstop */
@media screen and (min-width: 992px){
   body {
    background-color: green;
   }

   .col-lg-3 {
    width: 25%;
    background-color: lightblue;
    float: left;
   
    }
     .col-lg-4 {
    width: 33.33%;
    background-color: yellow;
    float: left;
        
    }
}

/* class selector */


.img-responsive {
    width: 100%;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: crimson;
}

.rounded {
    border-radius: 20px;
}

.img-rounded{
/* top-left  top-right bottom-right bottom-left */
border-radius: 50% 50% 0 0;
}

.col-3 {
    width: 33.33%;
    background-color: palegreen;
    float: left;
}

.mb-5{
    margin-bottom: 150px;
}

.mt-5{
    margin-top: 150px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}
